body {
    background-color: silver;
}

/* Resset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* Damos estilos a nuestra card */

.card-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    max-width: 1200px;
    padding: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    background-color: aqua;
    box-shadow: 10px 10px 10px 0px beige;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(100%);
    background-color: paleturquoise;
}

.pokemon-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pokemon-info {
    text-align: center;
    margin-top: 10px;
}

.pokemon-name {
    font-size: 22px;
    margin-bottom: 10px;
}

.pokemon-type {
    font-style: italic;
    margin-bottom: 12px;
    font-size: 14px;
}

.pokemon-descrption {
    margin-bottom: 12px;
}

.pokemon-powers {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pokemon-attack {
    background-color: aquamarine;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 8px;
}

header {
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    width: 1500px;
    height: 70px;
    justify-content: center;
}

h1 {
    color: blue;
}